[2015-04-06 15:51] jrm2k6 opened #1 "Better readme"

[2015-04-06 15:52] jrm2k6 opened #2 "Upgrade to Laravel5"

[2015-04-06 16:07] jrm2k6 opened #3 "Set travisCI"

[2015-04-06 17:13] #3 closed

[2015-04-13 06:14] jrm2k6 commented on #1
https://github.com/jrm2k6/cloudder/commit/081445b9d1f0bbab415f6ef6cabb95e947d00ebc

[2015-04-13 06:14] #1 closed

[2015-05-07 15:16] azulkipli commented on #2
Thank you for creating this package, please let me know when package for Laravel 5 ready

[2015-05-07 15:27] jrm2k6 commented on #2
I might be able to work on that this weekend! We are still using laravel 4.2 at my work so I was planning on upgrading it when we would have upgraded but I guess I have to do it before! :D Thanks for reaching out!

[2015-05-26 19:32] isaackearl commented on #2
I am also hoping to use this package for laravel 5.  I would also like to contribute to the project once it supports laravel 5.

[2015-05-26 22:56] jrm2k6 commented on #2
@isaackearl great! I will try to come up with an upgrade asap. Busy with work, but hey, I need to take some time to get done with the L5 upgrade.

[2015-05-30 20:52] jrm2k6 opened #4 "Update docs for Laravel 5"

[2015-05-31 16:55] #4 closed

[2015-05-31 17:22] jrm2k6 commented on #2
@isaackearl @azulkipli I released a version of the package that should work with Laravel 5. I also have a sample project here, using it: https://github.com/jrm2k6/cloudder-l5-sample-project
I was able to upload and delete images, and the unit tests are passing so the rest of the features should work just fine.
The README should contain all the information needed to use the package with Laravel 5.

[2015-06-01 02:43] azulkipli commented on #2
thanks for your great work,

I will check it asap

[2015-06-01 11:55] azulkipli commented on #2
Hi again,
When I do this;
<code>
composer require jrm2k6/cloudder
</code>

it require 0.1.\* version

I set service provider & facade alias then try to publish config it give error.

<code>
[BadMethodCallException]
  Call to undefined method [package]
</code>

So I use as in the example project you post above
<code>
"jrm2k6/cloudder": "dev-l5"
</code>

In the sample project no code that you alread

[2015-06-01 13:40] jrm2k6 commented on #2
Hey,
did you try this: `composer require jrm2k6/cloudder:0.1.*:dev-l5`
I specify the L5 instructions here: https://github.com/jrm2k6/cloudder/tree/l5
I know there might be a problem with composer and branch aliases (my Travis CI integration fails but it should still work).

Let me know if it works or not. If not, I will fix it tonight after my workday.

[2015-06-02 03:34] azulkipli commented on #2
Ive tried
`composer require jrm2k6/cloudder:0.1.*:dev-l5`
Give me
`no matches found: jrm2k6/cloudder:0.1.*:dev-l5`

[2015-06-02 04:06] jrm2k6 commented on #2
You forgot the *.

`composer require jrm2k6/cloudder:0.1.*:dev-l5`

[2015-06-02 05:23] azulkipli commented on #2
ofcourse not when executing it on my CLI,

it just filtered out when editing on github markdown previously i didnt use ``

[2015-06-02 13:13] jrm2k6 commented on #2
Ok I will check then.! Sorry for that
On Jun 1, 2015 10:23 PM, "azul" notifications@github.com wrote:

[2015-06-03 16:02] jrm2k6 commented on #2
@azulkipli So I just tried:

`composer require jrm2k6/cloudder dev-l5` should work. Can you confirm?

[2015-06-08 02:07] jrm2k6 commented on #2
@azulkipli any news?

[2015-06-11 00:52] num3thod commented on #2
Can confirm that `composer require jrm2k6/cloudder dev-l5` worked for me.

[2015-06-11 00:54] jrm2k6 commented on #2
Great! Let me know if you need any new features. I am not using Cloudinary
anymore, but happy to implement stuff you need!

On Wed, Jun 10, 2015 at 5:52 PM, Michel Raymond notifications@github.com
wrote:

##

Jérémy Dagorn
www.jeremydagorn.com

Android apps I developed:
https://play.google.com/store/apps/developer?id=JumyApps

[2015-06-11 01:02] num3thod commented on #2
Wow. Thanks, bud. I'm incorporating into an L5.1 project. Let you know how it goes.

[2015-06-11 01:04] jrm2k6 commented on #2
There shouldn't be any issue as the differences between 5 and 5.1 aren't
related to Middleware as far as I can tell.
On Jun 10, 2015 6:02 PM, "Michel Raymond" notifications@github.com wrote:

[2015-06-11 17:23] jrm2k6 commented on #2
@num3thod How did it go? If it works for you I will close this issue and merge the branch l5 to master so we don't have to use dev anymore.

[2015-06-11 17:50] num3thod commented on #2
Still working on it. I'll let you know by tomorrow at the latest.

[2015-06-14 18:17] jrm2k6 commented on #2
@num3thod Any news?

[2015-06-20 17:33] jrm2k6 commented on #2
I close it for now. Feel free to reopen.

[2015-06-20 17:33] #2 closed

[2015-08-27 10:21] Migweld opened #6 "Adding secure => true globally"
Just wondering if there's a way to add `secure => true` to the options array globaly so that all requests are made using HTTPS? If not, would it be possible to add this in? Happy to submit a PR.

[2015-09-03 09:39] Migweld commented on #6
Nevermind, found you can put `secure =>  true` inside the scaling array of the config and it'll apply it globally

[2015-09-03 09:39] #6 closed

[2015-10-06 01:17] krisnicolaou opened #7 "Show method not working for HTTPS"
Hi There,

There seems to be an issue with the show method handling secure URLs. The website has an SSL certificate installed and everything is working, but the images served up by Cloudinary using this package aren't loading with a secure URL.

I've tried to force the URL within `config/cloudder.php` and also within the `.env` file setting the `CLOUDINARY_BASE_URL` to use HTTPS.

Please let me kn

[2015-10-06 11:56] Migweld commented on #7
Hi Kris,

How are you forcing the HTTPS URL, out of interest? I'm passing a secure key in the scaling array in config/cloudder.php and that makes all Cloudder::show requests use SSL:

[code]

Alternatively, you can pass that key in your options array when performing the cloudder request:

`Cloudder::show($cloudinary_id, array('secure' => true))`

[2015-10-06 14:33] krisnicolaou commented on #7
Hey Craig,

Thank you for the reply. I did end up figuring that out, but I thought I wouldn't have to change all instances of the `Cloudder::show(...)` calls. I figured it would be one setting change to make all calls secure.

Everything is working now.

Thanks again,
Kris

[2015-10-16 19:59] jrm2k6 commented on #7
@krisnicolaou  Oh wow. Sorry I didn't get an email when you opened the issue. Is everything ok now? Or is there something you need still?

@Migweld Thanks for handling this one!

[2015-10-16 20:00] jrm2k6 commented on #6
Raa, I didn't even get an email for this one. Time to recheck my gmail filters!

[2015-10-16 20:10] krisnicolaou commented on #7
@jrm2k6 no worries, everything is good. I just didn't want to change each instance if there was a single setting. Thanks for following up.

[2015-10-16 20:10] #7 closed

[2015-10-30 16:10] joelcuevas commented on #7
I think it would be of value to put this on the readme. Yesterday I spent an hour or so reading code just to understand this... I should have checked the issues first, I know. :P

[2015-10-30 16:25] jrm2k6 commented on #7
@joelcuevas Will do!

[2015-10-30 16:25] jrm2k6 opened #8 "Mention how to handle https in README."
See https://github.com/jrm2k6/cloudder/issues/7

[2015-11-13 22:38] sil2 opened #9 "Must supply api_key"
Hi Jeremy,

I'm getting error:
InvalidArgumentException in Cloudinary.php line 648:
Must supply api_key

I have all keys in .inv file and in config/cloudder.php

I go over your file and cannot get how you populate self:config?

maybe the issue is here:
 public static function reset_config() {
        self::config_from_url(getenv("CLOUDINARY_URL"));
    }
what is CLOUDINARY_URL?  I don't have it.

[2015-11-13 22:58] jrm2k6 commented on #9
Hi @sil2,

Have you run `php artisan vendor:publish --provider="JD\Cloudder\CloudderServiceProvider"`?

I have an example project at https://github.com/jrm2k6/cloudder-l5-sample-project
The cloudder config file is the following after running the publish command https://github.com/jrm2k6/cloudder-l5-sample-project/blob/master/config/cloudder.php.

Do you have something equivalent?

[2015-11-14 00:28] sil2 commented on #9
i did run it and the response is :
Publishing complete for tag []!
and my config file

<?php

return array(

[code]

);

and sure, XXXXMYVALUE are my keys,

[2015-11-14 00:30] jrm2k6 commented on #9
I can take a look later today (PT) or tomorrow morning.

I assume you still have the same issue. Can you give me the code you are using in a gist and your full configuration when it comes to cloudder? provider/config/etc

[2015-11-20 14:44] andela-fokosun opened #10 "Video upload"
This is not an issue per say. I was just wondering how video upload would be implemented, it was not mentioned in the README. In my application, i had two file uploaders, one for image upload and the other for video upload. Whenever i try to do both uploads at the same time, i get token mismatch exception but when i do an image upload only it works just fine. I am surely missing out on something,

[2015-11-20 14:50] jrm2k6 commented on #10
@andela-fokosun Great question.
Have you tried specifying `resource_type => 'video'` when uploading the video resource?
http://cloudinary.com/documentation/upload_videos#api_example_2

https://github.com/jrm2k6/cloudder/blob/master/src/JD/Cloudder/CloudinaryWrapper.php#L99

So maybe calling `upload('your-video.mp4', 'my-resource-id', ['resource_type' => 'video'])` could do the trick.

That would b

[2015-11-20 15:57] fokosun commented on #10
cool, yes that's fine.

[2015-11-20 17:28] jrm2k6 commented on #9
Any news on this @sil2 ?

[2015-11-20 18:20] sil2 commented on #9
hi, Jeremy

It's just magicaly back to work next day. Dont knwo why and wat was the issue. Thank you.  I think, this tread can be just removed.

[2015-11-20 18:57] jrm2k6 commented on #9
Great, Magic of the Computer World.

[2015-11-20 18:57] #9 closed

[2015-11-21 18:33] jrm2k6 commented on #10
@andela-fokosun I just updated the package to include an `uploadVideo` method. It is just an alias actually calling `upload` but with the right resource_type.
It seems to be working well on my end and it is published. Sorry for the delay.

[2015-11-21 19:19] fokosun commented on #10
wow thanks @jrm2k6 will check that out now thanks

[2015-11-22 00:30] jrm2k6 commented on #10
I close for now. Feel free to reopen if it doesn't work.

[2015-11-22 00:30] #10 closed

[2015-11-29 20:09] jrm2k6 commented on #7
Now that I am looking at it, `showPrivateUrl` should give you back a url that has an expiration time so that it is really private. I will add a secureShow method that will serve the pictures through https.

[2015-11-29 21:08] jrm2k6 commented on #8
Package updated to add secureShow method doing https by default

[2015-11-29 21:08] #8 closed

[2016-01-08 21:44] jrm2k6 opened #11 "Add IDE autocompletion"

[2016-05-15 21:17] xitude opened #12 "Update documentation"
Could you move the

 below

Because vendor:publish will not work until the façade is added to config/app.php

[2016-05-16 14:51] jrm2k6 commented on #12
Thanks for the catch. Done.

[2016-05-16 14:51] #12 closed

[2016-05-23 13:51] rogervila opened #13 "Full API support"
Hello, I want to list all resources from Cloudinary.

I have seen that [this method](http://cloudinary.com/documentation/admin_api#list_all_images) is not declared in `CloudinaryWrapper`. If you agree, I'd like to add all the API endpoints to the wrapper.

Also, in order to make it simple, I'd follow the same API names in camel case.

For example, `destroyImages` [method](https://github.com/jrm2k6

[2016-05-23 13:58] jrm2k6 commented on #13
Hi @rogervila!

That sounds like a good idea. I will be happy to review the PR and make sure it is tested as needed.
Thanks again for your contribution!

[2016-05-23 14:08] rogervila commented on #13
No problem, I will open a PR during this week.

[2016-05-23 21:09] xitude opened #14 "Can you upload directly to cloudinary?"
So far all documentation is pointing to upload locally (or to s3) then download (upload) to cloudinary.

[2016-05-23 21:41] jrm2k6 commented on #14
You mean that you have to upload a resource first to your server, then upload it to s3 through Cloudinary?

[2016-05-24 08:33] xitude commented on #14
So far the work path for files is `User > S3 > Cloudinary`. I'd prefer to go `User > Cloudinary`

[2016-05-25 13:14] marius-scoutsnaps opened #15 "Download files as zip"
It would be great if this library would have a method to download files as zip.

http://cloudinary.com/documentation/image_upload_api_reference#generate_archive

[2016-05-25 14:15] jrm2k6 commented on #15
Hi @marius-scoutsnaps !
I know that [#13](https://github.com/jrm2k6/cloudder/issues/13) should probably cover that, but I could add it quickly in the meantime.
Will try to do it today!

[2016-05-25 15:57] jrm2k6 commented on #15
I just released a new version containing createArchive and downloadArchiveUrl. Let me know if it works.

[2016-05-25 18:05] marius-scoutsnaps commented on #15
Thanks for the quick response. Everything works great. The only problem is, I'm getting an error ("Error parsing server response (200)") when I use Cloudder::createArchive($options, $archiveName, $mode), with $mode='download';

Also, when i try to create an archive with images and videos, I'm getting an error "Missing public_ids" - shows only video id. I haven't been able to figure out this issue

[2016-05-25 20:28] jrm2k6 commented on #15
Oh, bummer. I will double check those two issues asap

[2016-06-11 17:17] jrm2k6 commented on #15
@marius-scoutsnaps Any news on that? Were you able to find a workaround for your second issue?
For the first one, I think it expects you not to return a response, but to start the download right away.

[2016-06-20 16:31] jrm2k6 commented on #13
@rogervila Any news on this?

[2016-06-21 10:00] rogervila commented on #13
@jrm2k6 Hello, sorry for being late. This weekend I will push at least one PR with the method alias, and later another one with the new API methods. thank you for your patience :)

[2016-06-21 18:26] jrm2k6 commented on #13
No worries, I was just wondering. Thanks!

[2016-07-06 08:15] rogervila commented on #13
Hello, I'm being late because I am adding all Cloudinary methods and tests, instead of uploading them in different PR.

I'm also testing it in a real application, so I'm sure that it will work perfectly.

Thank you.

[2016-07-06 10:00] jrm2k6 commented on #13
No worries, I won't be fully back online until the weekend!

On Wed, Jul 6, 2016 at 10:15 AM Roger Vilà notifications@github.com wrote:

[2016-07-18 05:11] jatinbphp opened #16 "JD\Cloudder\CloudderServiceProvider not found issue."
I face below problem in terminal when i run

Run php artisan vendor:publish --provider="JD\Cloudder\CloudderServiceProvider"

Command. Please Help me on this.

 [Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'JD\Cloudder\CloudderServiceProvider' not found

[2016-07-18 05:16] jrm2k6 commented on #16
I just tried to install it on a fresh install. You are running windows right?
Can you paste your providers and facade array from your app.php? and your composer.json?

[2016-07-18 05:21] jatinbphp commented on #16
No, i am using linux.

# App.php

 'providers' => [

[code]

  'aliases' => [

[code]

#

compooser.json

{
    "name": "jadjoubran/laravel5-angular-material-starter",
    "description": "Laravel 5 angular material starter",
    "keywords": ["laravel", "angular", "material", "starter", "ui-router", "api", "angular-material"],
    "license": "MIT",
    "type": "project",
    "require": {
        "p

[2016-07-18 05:44] jrm2k6 commented on #16
I don't see jrm2k6/cloudder in your composer.json are you sure you required it?

[2016-07-18 05:57] jatinbphp commented on #16
Below is my new composer.json, then i fire composer update but still get same error

{
    "name": "jadjoubran/laravel5-angular-material-starter",
    "description": "Laravel 5 angular material starter",
    "keywords": ["laravel", "angular", "material", "starter", "ui-router", "api", "angular-material"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=5.5.9",

[2016-07-18 21:12] jrm2k6 commented on #16
There is still no jrm2k6/cloudder in there.
You need this in there somewhere: "jrm2k6/cloudder": "*"

[2016-07-19 12:44] jatinbphp commented on #16
Thanks for your quick feedbacks.
I have manage it with another approach for now.

[2016-07-19 12:45] #16 closed

[2016-07-19 13:39] jrm2k6 commented on #16
@jatinbphp How did you work around it? I just felt like your composer.json was wrong, meaning you were not pulling the package correctly

[2016-08-05 17:45] jrm2k6 commented on #13
Could you push what you already have? I could work on finishing it if you want

[2016-08-05 17:46] jrm2k6 commented on #14
Cloudinary is working on top of S3 so I am not sure I understand.

[2016-08-05 17:46] #15 closed

[2016-08-22 21:09] rogervila commented on #13
Hello, the project where I needed full cloudinary support was parked, but now I need it in another project so I have finished the full api support.

I have uploaded everything in my fork (rogervila/cloudder) and now I'm testing it in the app.
As soon as I see that it works as expected, I will make the pull request.

[2016-08-24 17:30] jrm2k6 commented on #13
Sweet. Thanks a lot.

On Mon, Aug 22, 2016, 2:09 PM Roger Vilà notifications@github.com wrote:

[2016-09-04 22:46] #13 closed

[2016-10-04 22:28] xitude opened #18 "Folder Creation on upload"
As title, how do you create a folder (with name) on upload.
``E.g. /profiles/{user}/avatar/{avatar}.jpg``

[2016-10-04 22:42] clementblanco opened #19 "Fallback if not found on Cloudinary"
Is there a way to have a fallback if 404 on Cloudinary?

AFAIK Cloudinary class will just generate the full URL, not make any request to check if the resource is available.

However, I'd like to have a fallback if the remote image is not found so I can display the local version of it. Unfortunately, this might imply making an extra request per image and will consume more bandwidth.

What do you th

[2016-10-05 13:09] MevlutOzdemir opened #20 "Cannot upload multiple images at the same time"

[2016-10-05 16:59] jrm2k6 commented on #18
Sorry, I am quite busy today, I will try to get a response for you soon!

[2016-10-05 23:58] jrm2k6 commented on #20
It looks like multiple uploads is only supported for the use case: html form straight to cloudinary, without passing through your server. One way to do it if you don't have this use case is to do several requests in a row, which is unfortunate. Any thoughts?

[2016-10-05 23:59] jrm2k6 commented on #14
@xitude, actually if you upload straight from a webpage, you don't necessarily have to go through your server, and upload to cloudinary right away: http://cloudinary.com/documentation/php_image_upload#direct_uploading_from_the_browser

[2016-10-06 11:30] #20 closed

[2016-10-19 12:57] jrm2k6 commented on #19
Sorry, just checking those now. I will check that tonight and get back with an answer for you.

[2016-10-19 13:00] jrm2k6 commented on #18
@xitude Have you tried specifying `folder` as part of the options when calling the upload method?

http://cloudinary.com/documentation/upload_images#api_example_4

[2016-10-19 13:01] jrm2k6 commented on #14
@xitude Let me know if it helps, otherwise I will close this issue.

[2016-10-19 15:41] xitude commented on #14
It does. I will close the ticket. Thanks for your help.

[2016-10-19 15:41] #14 closed

[2016-10-19 15:41] xitude commented on #18
Ah perfect I got it working. 🍡

[2016-10-19 15:41] #18 closed

[2016-11-10 13:43] rogervila opened #23 "Codeclimate suggestions"
Hello,

I've been working with the library and it works really well.

Just for curiosity, I added my fork to codeclimate, and it suggests to reduce the amount of methods on `CloudinaryWrapper.php`

The link: https://codeclimate.com/github/rogervila/cloudder/issues

Do you think that moving the methods into traits could be a good idea?

This are the current badges:

[![Code Climate](https://codecli

[2016-11-10 17:42] jrm2k6 commented on #23
Yes traits would be a great solution to avoid too many methods in one class.

[2016-11-10 19:01] rogervila commented on #23
I'm making some tests on my fork.

[2016-11-16 22:37] jrm2k6 commented on #23
Do you need any help from me? I feel bad you are doing everything on your own ahah!

[2016-11-16 22:39] rogervila commented on #23
haha well, maybe you could make a 'refactoring' branch, where I can make pull requests in order to test the best way to refactor the whole code

[2016-11-16 22:41] jrm2k6 commented on #23
Done. Let me know if I can help besides just reviewing.

[2016-11-17 10:42] rogervila commented on #23
Could you split the tests in different ones by its kind?

[2016-12-15 06:15] SahilDude89ss opened #24 "Is there support for unsigned_upload"
Is there support for unsigned_upload like \Cloudinary\Uploader::unsigned_upload ?

[2016-12-15 17:48] jrm2k6 commented on #24
No right now, as far as I can tell. That shouldn't be hard to add, we just didn't have the need for it. Do you know how it is used exactly? It says it won't go through your server if you use an unsigned_upload, can you tell me more about it? http://cloudinary.com/documentation/upload_images#unsigned_upload. That would be useful only if you run a program using cloudder from the cli right?

[2016-12-15 18:43] jrm2k6 commented on #24
@SahilDude89ss  You can try to double check if it works, use the branch ```issue-24-unsigned-upload```

[2016-12-20 00:33] #24 closed

[2016-12-24 06:42] janoop opened #26 "can't catch exception while uploading file"
I am trying
try{
 Cloudder::upload($request->file('profile_picture'),
          null,
          array("format" => "jpg", "crop" => "crop", "x" => 0, "y" => 0, "width" => 200, "height" => 200,"crop" => "thumb", "gravity" => "face", )
    );
}
catch(Exception $e){
return 'invalid';
}

i am trying to upload a invalid file (abc.txt)  so it must come in catch but  i get HTTP/1.1 500 Internal Server Err

[2016-12-24 19:54] jrm2k6 commented on #26
@janoop  I am trying to reproduce the error here https://github.com/jrm2k6/cloudder-l5-sample-project/blob/cloudder-issue-26/app/Console/Commands/UploadPictureCommand.php

I specify a wrong file name for the image, and what I get is:

[code]

I am running it as a console command so that might be why you get a 500. Could you put a breakpoint or some logging in the ```report``` method of  ```Handler

[2016-12-28 04:58] ghost commented on #26
**`I specify a wrong file name for the image, and what I get is:`**
I am sending a valid  file (location) but with invalid format i.e., abc.txt

so i just wanted to know why can't i catch it in my catch block

and also i am a  beginner in laravel so i am not sure that if it is possibe to catch `Cloudinary\Error` but all i can see  in upload.php is that LINE 4     `class Error extends \Exception {}

[2016-12-28 17:57] jrm2k6 commented on #26
@janoop No worries, I will try to reproduce with an invalid file extension.

Yes you should be able to catch it easily as they extend the same class.

[2016-12-28 19:17] #26 closed

[2016-12-28 20:04] jrm2k6 commented on #26
Why did you close it? Where you able to fix this issue? Anything the
package should do differently?

On Wed, Dec 28, 2016, 11:17 AM Anoop Yadav <notifications@github.com> wrote:

[2016-12-29 05:50] ghost commented on #26
there is no problem in your package it was me.
Actually i have learn java first so there you don't need to import any thing to use exception i thought same for php but i was wrong i googled about exception in php and i get that i need to put use exception in top to use exception.

Sorrry for wasting time, my bad..
sorry again.

[2016-12-29 17:50] jrm2k6 commented on #26
No worries! Thanks for explaining.

[2017-01-31 17:27] azcoppen opened #27 "Laravel 5.4 Compatibility"
2 errors on update:

[code]

[code]

[2017-01-31 17:35] jrm2k6 commented on #27
@azcoppen Thanks! Will try to get to this tonight and will push a 5.4 branch if it is alright with you? I haven't had time to update my projects

[2017-01-31 17:39] jrm2k6 commented on #27
@azcoppen for the warning, could it be because you pull the cloudinary_php library in your composer.json? It will be included by default when requiring cloudder, so maybe that can help!

[2017-01-31 17:55] ghost commented on #27
@jrm2k6 That would be fantastic chap, thank you! I forked it into a private repo. Can do a PR if you like.

The issue is Laravel 5.4 removes share() in the register() method of the service provider. You just need to change share() to singleton().

Edit: this might require more, as i'm getting "illegal offset type" with PHP7.1. Will need your update - will wait for it instead of using a fork as it'

[2017-01-31 17:57] ghost commented on #27
See line 41:
https://github.com/fhmatch/cloudder-l54fork/blob/master/src/JD/Cloudder/CloudderServiceProvider.php

[2017-01-31 18:08] ghost commented on #27
Also, another error i'm getting here:

[code]

[2017-01-31 18:17] jrm2k6 commented on #27
Thanks for the hint, it should make my job easier. Will keep you up to date.

On Tue, Jan 31, 2017 at 10:08 AM azcoppen <notifications@github.com> wrote:

[2017-01-31 18:22] ghost commented on #27
@jrm2k6 It's an incredibly useful package - thanks for your work. Only 1 more thing - any chance you could change the Facade name to something more uniform than Cloudder? Would be great to just use Cloudinary::upload()!

[2017-01-31 18:49] nicodebin opened #28 "Not working for Lumen (5.4)"
I know that the documentation in this repo says it works for Laravel 5. That said, I was trying to use this in a Lumen 5.4 project and fails when trying to register the service provider:

`Fatal error: Call to undefined method Laravel\Lumen\Application::share() in /var/www/nike/vendor/jrm2k6/cloudder/src/JD/Cloudder/CloudderServiceProvider.php on line 41`

this is exactly at:
[code]

Any ideas if

[2017-01-31 18:51] jrm2k6 commented on #28
Hi, thanks for opening an issue. Another thread is already going on here https://github.com/jrm2k6/cloudder/issues/27 about the Laravel 5.4 compatibility! I should get to it tonight after my work day! Is that OK?

[2017-01-31 18:59] ghost commented on #28
Oh snap! I totally missed that. Sorry! 😄
That issue is caused by the `Application::share()` method, same as this one, so you can close this thread since is the same thing.
Btw, good job with this package!

Cheers!

[2017-01-31 19:31] jrm2k6 commented on #28
No worries! Thanks

[2017-01-31 19:31] #28 closed

[2017-01-31 19:31] jrm2k6 commented on #27
I am not sure I can change the name as I am not affiliated with Cloudinary in any way. Not sure I can use that name.

[2017-02-01 04:23] jrm2k6 commented on #27
@azcoppen @nicodebin Just pushed a new branch, could you guys check and make sure it works? Works fine on my local.

[2017-02-01 19:17] ghost commented on #27
@jrm2k6 works fine in Lumen 5.4, thanks! I've made a PR (#29) for an additional change that is also needed. Please be sure this works fine with Laravel 5.4

[2017-02-01 19:20] jrm2k6 commented on #27
@nicodebin Just merged it, thanks for your PR. I will double check that maybe on my lunch break, and will merge/release if it works fine. It looks like it is backwards compatible so all good! Thanks for your patience. I still have most of my side projects running on Laravel 5.2. 🚒

[2017-02-01 19:35] ghost commented on #27
@jrm2k6 cool thanks! Yeah, me too.. most of my projects are running in 5.2 too, and a very huge one in 4.2 😱

[2017-02-01 22:37] ghost commented on #27
@jrm2k6 Testing later tonight - thanks so much for the speed you responded to the issue with!

[2017-02-02 17:09] jrm2k6 commented on #27
@azcoppen let me know when it is confirmed, will try to release asap.

[2017-02-03 17:51] ghost commented on #27
@jrm2k6 Yep, looks great!

[code]

[2017-02-03 17:52] #27 closed

[2017-02-03 17:59] jrm2k6 commented on #27
Alright will release soon

On Fri, Feb 3, 2017, 9:52 AM azcoppen <notifications@github.com> wrote:

[2017-04-05 13:27] peterhofman commented on #19
Using Cloudder for a project, and need this option to, any work in progress for this? of a solution? Tnxs!

[2017-04-05 16:48] jrm2k6 commented on #19
Oh will check. I will probably add a method that will return if a resource is currently available in your cloudinary bucket.

[2017-04-09 01:31] jrm2k6 commented on #19
@Claymm @peterhofman I feel like the best way would be:

[code]

[2017-05-16 06:30] the94air opened #31 "GIF images is getting returned as PNG"
GIF images return PNG when using the `Show` method. Like this image
https://res.cloudinary.com/codehelper/image/upload/c_fit,h_538,w_538/NDda9oGEDR3LY.png
I want to return it as
https://res.cloudinary.com/codehelper/image/upload/c_fit,h_538,w_538/NDda9oGEDR3LY.gif

[2017-05-16 16:24] jrm2k6 commented on #31
Hi,
Can you provide a code snippet showing how you upload your resource, and how you call the show method on it? Just to help reproducing the issue?

Thanks!

[2017-05-16 18:37] the94air commented on #31
The upload
[code]
Show image
[code]
I have check my Cloudinary and the image is a GIF file the same as I uploaded image.

[2017-05-16 18:39] jrm2k6 commented on #31
Thanks @the94air, I will check that tonight.

[2017-05-16 18:45] the94air commented on #31
What do you think the problem? does the show method get the image extension for Cloudinary cloud? Sorry I am just confused `^_^` :+1:

[2017-05-16 18:48] jrm2k6 commented on #31
The problem could be related to the upload options. Maybe you need to
specify an option like 'auto' or something like that. Without running the
code it is hard to say.

On Tue, May 16, 2017 at 11:45 AM Abdalla Mahmoud <notifications@github.com>
wrote:

[2017-05-17 02:36] jrm2k6 commented on #31
@the94air So I double checked. I was able to upload a gif, and getting the url for the uploaded resource. The uploaded resource appears to be a gif (http://res.cloudinary.com/jdcloudder/image/upload/v1494988349/mypikachu.gif)

You can see the implementation here: https://github.com/jrm2k6/cloudder-l5-sample-project/commit/f6151a88895f03f4b9d07f5a75e892d7206a3fea

Let me know if it helps. Maybe you

[2017-05-18 16:05] the94air commented on #31
Sorry for the late reply. I couldn't reach my PC for 2 days (I wouldn't survive if i reach the third day :joy: ).
I have tried to do this (I said maybe the problem form the temp path) but also the same problem
[code]
I can't find any way to get arround this. :crying_cat_face: Help.

[2017-05-18 16:10] jrm2k6 commented on #31
Without having the same image it is hard. Can you try it with the pikachu image I used? http://res.cloudinary.com/jdcloudder/image/upload/v1494988349/mypikachu.gif
Just download it, put in in your public folder, and look at the code I used, to see if what I did works for you.
If it does, we can narrow down the possibilities for error.

[2017-05-18 16:15] the94air commented on #31
Yes, I have used you image as you said before

[2017-05-18 16:41] the94air commented on #31
First i created this route to upload the image form the storage/app/gravatar directory
[code]
And in my account I received that image as GIF as you see
![1](https://cloud.githubusercontent.com/assets/18303390/26213069/5ffd9c90-3c00-11e7-8bcc-9bb304d2415b.png)
Then I created this route to show the image link
[code]
the result
[code]
I don't think the problem in the upload because the image work per

[2017-05-18 16:58] jrm2k6 commented on #31
Weird. My show method worked perfectly fine. I can try to debug that more. The only different you and I have is that you upload from storage and I upload from public. But even though, it looks like the image on cloudinary that you uploaded is fine.

[2017-05-18 17:20] the94air commented on #31
In composer I am using this version `"jrm2k6/cloudder": "0.4.*",` and I also tried to upload your image from public directory but also the same png result.

[2017-05-18 19:16] jrm2k6 commented on #31
The other difference is that I do it from a console command, while you do it from a controller but it shouldn't make any difference.

[2017-05-19 07:36] the94air commented on #31
I can't find the problem. so i decided to save image extension in to the database and use the value inside the show method.
[code]

[2017-05-19 20:07] the94air commented on #31
It looks like I am the only one having this problem. I am going to close it for now. Thanks for spending the time to solve me issue @jrm2k6 `^_^`.

[2017-05-19 20:07] #31 closed

[2017-05-19 20:52] jrm2k6 commented on #31
I will still try to get to the bottom of the issue. Sorry for not fixing.
On Fri, May 19, 2017 at 1:07 PM Abdalla Mahmoud <notifications@github.com>
wrote:

[2017-07-19 16:27] byanke-pcn opened #32 "Unknown API key"
I'm receiving an Unknown API key error upon trying to upload.

[code]

[code]

I have it properly defined in my .env file, and `REDACTED` is properly showing my API key as found in the dashboard.

[2017-07-19 16:37] ghost commented on #32
Fixed.

Your documentation is incorrect for the .env file.

What you have as
[code]

ought to be

[code]

The ` characters were getting included.

[2017-07-19 16:37] #32 closed

[2017-07-19 21:39] jrm2k6 commented on #32
Oh yeah, I assume people would understand that the backticks were just for the example.
Will update to make sure it isn't causing any confusion.

[2017-07-21 16:00] benyanke opened #35 "Questions about adding features"
I'm really loving your Cloudder lib, and I'll be using it for a few of our corporate projects. One thing I want to add is a specified base url for uploads, so that all files, by default, get uploaded to a subdirectory in cloudinary (for example, I could specify `CLOUDINARY_BASE_UPLOAD_URL=/marketing/` to upload all pictures to a marketing folder on cloudinary.

Similarly, I'd like to also implemen

[2017-07-21 16:58] jrm2k6 commented on #35
I am hesitant to force people to specify env variables if they are not mandatory.
It should be easy to have a method/class wrapper around Cloudder that will set the different variables you want when using Cloudder?

What do you think?

[2017-07-21 18:04] benyanke commented on #35
If I were to implement them within the lib itself, it would certainly be optional, not required. In other words, no downsides (beyond a bit of extra code) for those who don't want it, and upsides for those who do

[2017-07-22 22:38] jrm2k6 commented on #35
I am open to see an implementation of it as I am not 100% sure of how it would look.

[2017-07-23 15:08] benyanke commented on #35
Sounds good - I'll implement when I get back to this section @ work, PR, and we can discuss then

[2017-07-26 23:43] abr4xas commented on #19
@Claymm you can use this:

[code]
Is a small css snippet to show a message if the resource isn't  available.

[2017-09-07 22:57] jrm2k6 opened #36 "Support package auto-discovery for Laravel 5.5"

[2017-09-24 13:22] ahmadalukah opened #37 "Disable Scaling (Or set height to auto)"
Hi!
the default scaling is
[code]
So when I want to show an image - using `Cloudder::show()` -, it will take these default values unless I change them in each photo show command.

But sometimes I don't know the height or the width. I need to make them = auto to solve this problem.

How can I do that?

Thanks !

[2017-09-24 22:29] jrm2k6 commented on #37
Hm I don't know from the top of my head. I can definitely check the Cloudinary docs where I think the answer is.

[2017-09-25 08:48] ahmadyousefdev commented on #37
I managed to solve this problem by changing the scaling in config to
[code]

Thank you so much !

[2017-09-25 08:48] #37 closed

[2017-10-03 11:09] rheedwahn commented on #35
got this error "Array to string conversion" when using the transformation to add watermark to my images

[2017-11-20 16:11] ccmelas opened #38 "ktquez/lumen-image dependency not available on composer"
The package ktquez/lumen-image is preventing installation of this package

[2017-11-20 18:00] #38 closed

[2017-11-20 18:01] ccmelas commented on #38
Sorry. My fault. Somehow I had the package in my own composer.json file and I didn't notice

[2017-12-25 13:29] prabhat2k15 opened #40 "Folder is not created in after passing the path in public id"
I original documentation we can pass the folder/file.jpg and it uploads the file in that particular folder. But in this wrapper when i pass like so it treats it as file name .

Please tell me the solution . I needed it urgently.

[2018-01-16 10:26] Afterspace opened #41 "Invalid Signature when trying to upload"
Hello there, im following this [guide](http://www.expertphp.in/article/laravel-5-cloudinary-upload-file-and-images-with-example) to upload an image to Cloudinary through your wrapper, but i cant figure it out why am i getthing this error:

Any suggestions how i can solve this?

Below you can find the complete code of what im executing right now that is giving me that error.

Route
[code]
Controlle

[2018-01-16 15:12] #41 closed

[2018-02-08 01:08] jrm2k6 commented on #40
Hi,
Sorry I didn't get an email about this issue.
Let me check and get back to you.

[2018-02-08 01:11] jrm2k6 commented on #35
@rheedwahn You might want to open a new issue for that

[2018-02-13 16:46] ogonzalez29 opened #42 "How to add the multiple files upload option"
Hi, I've implemented your wrapper and tested it for the last days and I love it. I have only one question and is how to add the "multiple files upload" feature?. I've read the documentation and it mention the $options array to add additional features, but in this case how could I do it?

Thanks

[2018-02-20 23:37] jrm2k6 commented on #42
Hi,
Sorry for the delay. I still don't know why I am not receiving emails for issues created.
Let me check and I will get back to you!

[2018-02-20 23:42] jrm2k6 opened #43 "est"
etettetete

[2018-02-20 23:42] #43 closed

[2018-02-20 23:45] jrm2k6 opened #44 "Another test"
ssss

[2018-02-20 23:45] #44 closed

[2018-02-22 16:56] jrm2k6 commented on #42
@ogonzalez29 It doesn't look like server-side uploading supports multiple files.
https://cloudinary.com/documentation/image_upload_api_reference#upload

The multiple files options is if you are doing resource uploads straight from your browser, not through your backend: https://cloudinary.com/documentation/upload_images#direct_uploading_from_the_browser_or_mobile_application.

[2018-02-22 17:03] jrm2k6 commented on #40
@prabhat2k15 You need to make sure you have the Auto-create folder option enabled on Cloudinary:
https://cloudinary.com/console/settings/upload or that you have manually created that folder in your media library

[2018-02-22 17:04] #40 closed

[2018-02-27 19:04] #42 closed

[2018-03-11 06:22] nrthbound commented on #36
Sorry to be a bother, but has this been worked on at all? If not, could you point me in the direction to make it functional with 5.5/5.6 so I can update it and get a PR going? Would love to use this in a current project I'm working on. Thanks!

[2018-03-12 19:17] jrm2k6 commented on #36
@tetshi I haven't had a chance yet no. Would be awesome if you could give it a shot.
This is an example of what needs to be done:
https://github.com/barryvdh/laravel-debugbar/pull/643/files

I will add some more official links here when I have a few minutes.

Official doc: https://laravel.com/docs/5.5/packages#package-discovery

[2018-03-14 13:33] #19 closed

[2018-03-14 13:35] #23 closed

[2018-03-14 13:35] #35 closed

[2018-04-02 09:32] joseraul commented on #36
Hi, I guess this is not done yet, right? I will be happy to help. With the permission of tetshi, I will commit a PR ~~in a few days~~ now: #45

[2018-04-08 00:49] #36 closed

[2018-04-24 20:30] HamzaNaciri opened #46 "Must supply api_key Laravel"
Hello I'm trying to do something like :
Cloudder::upload($filename);
            $c=Cloudder::getResult();
            dd($c);

in my controller but I get error message "Must supply api_key", I don't get where the problem came from, I specified my api key, my secret api and the cloud name.. Can I get any help please?

[2018-04-24 20:32] jrm2k6 commented on #46
What version of the package are you using?
When you say you specified everything, do you mean that:
[code]
is in your .env?

[2018-04-24 20:36] HamzaNaciri commented on #46
Thanks for the quick answer ! I’m using Laravel 5.6.12

And yes I specified

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

In my .env

Hamza NACIRI FARID
227797@supinfo.com<mailto:227797@supinfo.com>

Le 24 avr. 2018 à 22:32, Jeremy Dagorn <notifications@github.com<mailto:notifications@github.com>> a écrit :

What version of the package are you using?

[2018-04-25 16:05] HamzaNaciri commented on #46
Any suggestions @jrm2k6  ?

[2018-04-25 17:26] jrm2k6 commented on #46
Oh sorry I guess my other comment didn't post. I am at work, I can check tonight. One thing I would do is put a breakpoint in here https://github.com/jrm2k6/cloudder/blob/master/src/JD/Cloudder/CloudinaryWrapper.php#L59 (or a log statement and see what the config call returns.

[2018-04-25 18:27] HamzaNaciri commented on #46
No problem ! I tried to dd my config and that's what I got :
<img width="564" alt="cloudinary" src="https://user-images.githubusercontent.com/28985726/39265122-beab12ee-48c6-11e8-90f4-0072ab9ed88d.png">

It seems weird cause I set up my credentials in the .env.. ?

[2018-04-25 18:28] jrm2k6 commented on #46
Alright, that helps. I will try to get back to you today or tomorrow. Is that ok? In the meantime, you can try to do that https://github.com/jrm2k6/cloudder#optional.
It could be related to package autodiscovery.

[2018-04-25 18:38] HamzaNaciri commented on #46
Oh okey ! Sounds good to me. I already did yesterday when I installed cloudder, I added
' providers' => array(
  'JD\Cloudder\CloudderServiceProvider'
);

'aliases' => array(
  'Cloudder' => 'JD\Cloudder\Facades\Cloudder'
);
to my config/app.php !

[2018-04-25 18:40] jrm2k6 commented on #46
oh, then try to remove it. You shouldn't have to do this as from Laravel 5.5 you can use package discovery.

[2018-04-25 18:50] HamzaNaciri commented on #46
I removed it, installed the package "composer require barryvdh/laravel-debugbar:dev-master" and got :

but always getting null values on the 3 credentials !

[2018-04-26 02:13] jrm2k6 commented on #46
So I create a new project:

[code]

And then I created a new command:
[code]
And it seems to be working fine.

Is your code open-source? I might be able to run it if it is accessible.

[2018-04-26 10:04] joseraul commented on #46
Hi HamzaNaciri!

Can you try
`dd(env('CLOUDINARY_API_KEY'));`
in any place in your project? Because if it is still "null" I don't think it is a problem of the package. Maybe dirty cache or something like that...

[2018-04-26 10:38] HamzaNaciri commented on #46
Actually it's a school project and it's forbidden to put it on GitHub ! What we can do is I can give you my TeamViewer credentials, so you can run it from my pc ! If you agree of course. @jrm2k6

Hello @joseraul !
I tried :
`dd(env('CLOUDINARY_API_KEY'));
`
and it still giving null even though I run :
`php artisan cache:clear` !

[2018-04-26 11:06] HamzaNaciri commented on #46
Okeeey I solved the issue, it was a problem of config cache ! I just run :
`php artisan config:clear`
Now I'm getting the values of my credentials ! Thanks !

[2018-04-26 15:14] jrm2k6 commented on #46
Thanks @joseraul for the hint! :)

[2018-04-26 15:15] #46 closed

[2018-05-03 06:28] fingertips-solutions commented on #2
which version we have to use for laravel 4.2. i installed it and getting this error
Call to undefined method JD\Cloudder\CloudderServiceProvider::publishes()

[2018-05-09 06:54] sushantlp opened #50 "Upload preset must be specified when using unsigned upload"
Hi,
 i am using laravel 5.5 and using 0.4.* cloudder. when i upload image my server to cloudinary server error return " Upload preset must be specified when using unsigned upload ".

[2018-05-09 14:47] jrm2k6 commented on #50
Hi @sushantlp
Could you paste some of the code you have?

[2018-05-09 14:50] sushantlp commented on #50
hi @jrm2k6
this is my code

  try {

            $status = $this->status;
            $medi = new MediController();
            $database = new DatabaseSaver();

            if ($status == 1) {

                $response = Cloudder::upload($this->filePath,$this->publicId,array("folder"=>$this->folder,"use_filename"=>TRUE ,"unique_filename"=>FALSE))->getResult();

                if ($response) {

[2018-05-27 13:21] yamenshahin commented on #41
What was the issue?

[2018-05-27 13:28] yamenshahin opened #51 "How to resize image"
I created this function

Cloudder::upload($image, $path, array("width"=>150, "height"=>150, "crop"=>"scale") );

But it not work

[2018-05-30 11:54] RoshanKarki123 opened #52 "problem in loading pdf"
i want to display the pdf file that i uploaded to cloudinary server.but it is always showing png file.how can i read pdf file.

[2018-05-31 00:55] jrm2k6 commented on #51
@yamenshahin Will check and get back to you! :)

[2018-05-31 00:56] jrm2k6 commented on #52
Can you show some of the code you have?

Thanks!

[2018-05-31 01:22] jrm2k6 commented on #51
It seems to be working for me with this:
[code]

Could it be because you have the parameter in the wrong order? You have `$image, $path` where it should be `$pathToImage, $publicId`

[2018-05-31 17:11] jrm2k6 commented on #2
@fingertips-solutions  You should have opened a new issue.

But you should just have to follow this: https://github.com/jrm2k6/cloudder#installation

[2018-06-03 01:50] jrm2k6 commented on #51
@yamenshahin Closing for now.

[2018-06-03 01:50] #51 closed

[2018-06-05 13:45] jrm2k6 commented on #52
@RoshanKarki123 Any update?

[2018-06-11 22:14] elmage opened #53 "Invalid Signature d4cc2506fe374f2c10de3de3368964825acac78e. String to sign"
I get the following error when I try to use `Cloudder::upload($file, $file_id)`  method: `Invalid Signature d4cc2506fe374f2c10de3de3368964825acac78e. String to sign - 'public_id=1737aa5b068205e4de112932503b844a8bf62fe5&timestamp=1528755130'.`

[2018-06-12 00:58] jrm2k6 commented on #53
What version of Laravel are you using?
Are you sure you have set up the Cloudinary credentials correctly?

[2018-06-20 13:00] elmage commented on #53
I found the issue. I always forget that you have to restart the server whenever entries are changed in the .env file so I was using wrong credentials.

[2018-06-20 13:00] #53 closed

[2018-06-20 13:18] jrm2k6 commented on #53
Great! 👍

[2018-06-20 13:19] jrm2k6 commented on #50
Are you sure your .env file has the correct credentials?

[2018-07-03 06:48] chikeozulumba opened #54 "Invalid Signature 759f5facc60f4b021d18b806ce79756a924321ed. String to sign - 'public_id={\"0\"=>\"60\", \"1\"=>\""
Hi there,

I keep getting this issue when trying to upload.
All configurations are set and cross-checked.

this is a sample of my code
`public function test (Request $request)
    {
        if ($request->hasFile('file')) {
            \Cloudder::upload($request->file('file'), ["timeout" => 60, "folder" => "folder"]);
            $c=\Cloudder::getResult();
            if($c){
                return

[2018-08-12 16:15] thuthao541998 commented on #9
i have the same problem here but still dont know how to fix it

[2018-08-12 17:54] jrm2k6 commented on #54
Hi, sorry for the delay.
Did you find a solution for your issue?

[2018-08-12 18:01] jrm2k6 commented on #9
Can you open a new issue to make sure we start fresh?

[2018-08-25 21:27] mbengchan commented on #54
@codeNigga it's a syntax error you are having. i had the same issue i solved it by doing this:

`\Cloudder::upload($request->file('file'), null, ["timeout" => 60, "folder" => "folder"]);`

since the upload method definition is like this

`upload($source, $publicId = null, $uploadOptions = array(), $tags = array())`

Hope that helps

[2018-08-25 21:30] Shadomax opened #56 "Cannot delete file with the delete() method"
i am unable to delete files using the methods provided. Here is my code:

`Cloudder::delete($publicId, null);`

Or

`Cloudder::delete($publicId, array('folder' => 'users/'));`

no error but when i check my dashboard file is still there.

[2018-08-26 19:13] jrm2k6 commented on #54
@Shadomax Thanks, yes that looks likely to be the issue.

[2018-08-26 19:14] jrm2k6 commented on #56
Hi @Shadomax Thanks for opening an issue. Let me give it a look.

[2018-08-26 19:41] jrm2k6 commented on #56
It seems to be working fine for me. I tried using delete and destroyImage and it deletes the picture correctly.
Are you sure the publicId you are passing is the correct one?
delete / destroyImage returns a boolean if the deletion was successful, can you verify the return value of your call?

[2018-08-27 12:50] mbengchan commented on #56
It's working fine when i don't upload into a folder. But when i upload into a folder the delete doesn't work

[2018-09-04 12:13] mbengchan commented on #56
@jrm2k6 please can i see your example of deleting a picture found in a folder called samples.
Here is the directory structure: `samples/test.png`

How do you delete such a file. Please for the syntax

[2018-09-04 13:36] jrm2k6 commented on #56
Sure, sorry for not replying earlier. I don't get notification emails for some reason.

[2018-09-04 13:41] jrm2k6 commented on #56
I just pass the public id (in the case of the example: `Cloudder::delete('samples/test.jpg);`

[2018-09-04 13:44] mbengchan commented on #56
Thanks very much. I would try and notify you if it works.

On Tue, 4 Sep 2018, 14:41 Jeremy Dagorn, <notifications@github.com> wrote:

[2018-09-07 07:40] Shadomax opened #57 "Error While Uploading Audio"
Hey guys, am having issue uploading audio to Cloudinary. I use the Method bleow

[code]

Please i need your help the file am uploading is an audio file.

[2018-09-08 04:03] renatoagomes commented on #56
Probably not related, but since i just dealed with this:

In the case you're binding model events to some sort of Photo model, make sure you're calling the `->delete()` on the model instance, not in the QueryBuilder witch doesnt trigger the deleting/deleted events  ¬¬'

[2018-09-08 10:59] jrm2k6 commented on #57
Wait, are you uploading a video or an audio file? Your code and issue title are not matching with the description of your problem.

[2018-09-08 11:53] mbengchan commented on #56
Thanks @jrm2k6 it worked.

[2018-09-08 11:53] #56 closed

[2018-09-08 12:00] mbengchan commented on #57
yeah i noticed. but i have resolve the issue. When i checked the documentation the cloudinary API is build from ground up to support images so if you ever needed to upload any other file whic is not an image file you will have to specify the type in the `resource_type` option and set **scaling options to null** so here is how i was supposed to upload the audio file and get the write file name.

He

[2018-09-08 12:00] #57 closed

[2018-09-13 01:56] JamieBunyassi opened #58 "Must Supply API KEY"
I am experiencing an issue reported in another thread and the solutions listed there do not seem to solve. Kindly offer any assistance you may have on how to resolve this issue.

![screenshot from 2018-09-13 04 55 02](https://user-images.githubusercontent.com/15850138/45462593-379a8280-b711-11e8-900f-00befd677b49.png)

[2018-09-13 19:49] jrm2k6 commented on #58
Hi @JamieBunyassi !

How does your .env look like?
Do you have all the right properties for cloudinary in there?

[2018-09-14 01:18] JamieBunyassi commented on #58
Hello, I solved it by reverting to an older version of the cloudinary_php
composer package. It appears Cloudinary may have made changes during the
recent update that don't coincide with the cloudder package.

On Thu, Sep 13, 2018, 10:49 PM Jeremy Dagorn <notifications@github.com>
wrote:

[2018-09-14 22:04] jrm2k6 commented on #58
Oh interesting. Thanks for checking. What version of cloudinary_php did you have to pinpoint to?
I will check to see what those differences are and release a new major version

[2018-09-14 22:05] jrm2k6 opened #59 "Update package to accomodate changes in cloudinary_php new release"
Latest release: https://github.com/cloudinary/cloudinary_php/releases/tag/1.11.1

[2018-09-15 09:45] JamieBunyassi commented on #58
1.1.10, I am not close to my computer but I think that's the version that
got it to work.

On Sat, Sep 15, 2018, 1:04 AM Jeremy Dagorn <notifications@github.com>
wrote:

[2018-09-16 21:57] jrm2k6 commented on #58
I just tried with the latest version of cloudinary/cloudinary_php - 1.11.1 and uploading seems to be working fine. Were you running a specific cloudinary operation?

[2018-10-23 17:53] nwaughachukwuma opened #62 "On the fly transformations"
Hi @jrm2k6 please is it possible to achieve on the fly (OTF) transformation using this package? If yes, can you provide an example on how to? Thanks so much

[2018-10-27 16:21] jrm2k6 commented on #62
@nwaughachukwuma You should be able to pass a transformation array as part of the options when calling the upload method.
What time of transformation are you looking to do? I can try to give you a working example if you give me more context.

[2018-11-07 13:52] dlakes commented on #62
@jrm2k6 An Example code  for Image Transformation to reduce the size of the image saved on cloudinary would be of help.

[2018-11-16 10:38] oluwajubelo1 opened #63 "Upload to specific folder"
Good day,
Please, how can i upload to a specific folder on cloudinary. For example, if i have a folder name banners, how can i upload images directly from my laravel code to banners folder? Thanks

[2018-11-16 21:04] oluwajubelo1 commented on #63
hey @jrm2k6 , is there a way i can solve this issue? Thanks in anticipation

[2018-11-17 23:46] jrm2k6 commented on #62
@diakes You mean something like this: https://cloudinary.com/documentation/image_transformations#adjusting_image_quality?

[2018-11-17 23:48] jrm2k6 commented on #63
@oluwajubelo1 Did you check those closed issues for a solution: https://github.com/jrm2k6/cloudder/issues/40 and https://github.com/jrm2k6/cloudder/issues/18?

[2018-11-18 03:10] oluwajubelo1 commented on #63
@jrm2k6 , yes i have. What i want is to upload to an already created folder on media library. For example, i have a folder named banners, so programmatically, i want to upload images to banners folder which has already been created. Thanks

[2018-11-19 07:53] oluwajubelo1 commented on #18
@xitude , please can you give me a working example. I'll be grateful. Thanks in anticipation

[2018-11-19 09:30] oluwajubelo1 commented on #40
@jrm2k6 , i've enabled Auto-create folder option on cloudinary but still am unable to create a folder via an API call. Below is my code:

\Cloudinary\Uploader::upload($fileName,[
                   "folder"=>"test-folder/"
                ]);

[2018-11-19 10:56] oluwajubelo1 commented on #63
Thanks @jrm2k6 , i've been able to solve my issue regarding uploading to folder. Another thing i'm looking at is how to rename a folder on cloudinary via API call with the images inside the folder still the same. Thanks

[2018-11-20 04:10] nwaughachukwuma commented on #62
Thanks @jrm2k6 this works

[2018-11-24 19:45] JCarlosR commented on #56
What's the difference between `delete` and `destroyImage`?

[2018-11-25 22:55] chcourses commented on #58
Same here. Laravel 5.7 and PHP 7.2.11.

[2018-11-28 23:46] #62 closed

[2018-11-28 23:47] jrm2k6 commented on #63
What was the solution you used for your first problem?
For your second problem it looks like you have to rename all resources within the folder to match the new name -> https://support.cloudinary.com/hc/en-us/articles/202521002-How-to-move-an-image-from-one-folder-to-another-

[2018-12-09 18:12] #59 closed

[2019-01-08 09:25] oluwajubelo1 commented on #63
For the first problem, it was the order in which i passed in the variables into the upload method that was wrong. Below is a sample code:
   Cloudder::upload($imageName,null,[
                    "folder"=>$categoryName
                ]);

[2019-01-08 18:27] jrm2k6 commented on #63
Sounds good. Feel free to close the issue if it is all good on your side.

[2019-01-08 21:24] #63 closed

[2019-01-26 08:41] Aamish99 opened #64 "Server returned unexpected status code - 0 -"
Getting Server returned unexpected status code - 0 - when i am trying to upload any image. Here is my code
Cloudder::upload($filename, null);

[2019-01-30 17:59] jrm2k6 commented on #64
Do you have the right configuration in your .env?
What version of Laravel and cloudder?

[2019-02-11 03:50] Kent27 opened #65 "Cloudder::upload Returns Empty Json"
I used the function Cloudder::upload in php and intended to return it and get the url of the image, It responded with the json of an empty api.
_Note: the image is successfully saved in cloudinary_

<img width="518" alt="capture" src="https://user-images.githubusercontent.com/30821046/52545459-42edf900-2dea-11e9-9b13-a48853b710c8.PNG">

<img width="559" alt="capture2" src="https://user-images.gith

[2019-02-18 09:56] alvintheodora opened #66 "secureShow returning scaled image instead of original uri with versioning"
Hi,
why does `secureShow()` return '/image/upload/c_fit,h_150,w_150/myImage1.png' instead of '/image/upload/v1550480678/myImage1.jpg'
The second link, I get from opening the cloudinary console directly.
I ran `php artisan vendor:publish --provider="JD\Cloudder\CloudderServiceProvider"` and
I have commented out the scaling in my `config/cloudder.php`, so the returned url is : '/image/upload/myImage

[2019-02-18 11:12] alvintheodora commented on #66
@jrm2k6 hello, great libary btw, any ideas?

[2019-02-18 11:58] andrewaliela opened #67 "Error while uploading video"
Hi, I have this package implemented in my Laravel Application (Laravel 5.7.25) and the image upload is working well but the Video upload is not working for me. The following is my image upload code which works perfectly:

    $id = Auth::user()->id;
    $name = $request->input('name');
    $email = $request->input('email');
    $about = $request->input('about');
    $profile_picture = $request->fi

[2019-02-25 14:22] jrm2k6 commented on #66
@alvintheodora  Sorry for the delay! Can you provide an easy working snippet reproducing the issue and I can dig in?

[2019-02-25 14:23] jrm2k6 commented on #67
@andrewaliela Thanks for the example. I will double check shortly.

[2019-02-25 14:26] jrm2k6 opened #68 "test email"
llll

[2019-02-25 14:26] #68 closed

[2019-02-25 14:50] andrewaliela commented on #67
@jrm2k6 Thank you sir. Looking forward to the assistance.

[2019-02-26 08:03] alvintheodora commented on #66
Hi @jrm2k6 it would be as simple as
`\Cloudder::secureShow('myImage');` returns `"https://res.cloudinary.com/foo/image/upload/myImage"`.
How do we return the versioned one like `https://res.cloudinary.com/foo/image/upload/v1550480678/myImage`

Reference: [Asset Versions](https://cloudinary.com/documentation/upload_images?query=versioned%20url&c_query=Image%20administration%20%E2%80%BA%20Invalidati

[2019-03-03 10:49] seyidaniels commented on #64
I am also having this error

[2019-03-03 11:40] seyidaniels commented on #64
Try using another browser, the image file is not getting to where you would send it to Cloudinary

[2019-03-03 15:40] andrewaliela commented on #67
Hi @jrm2k6 any luck with the above?

[2019-03-03 16:29] jrm2k6 commented on #67
@andrewaliela Sorry I am pretty busy.
I just tried to upload a video with the following:

[code]
And it works fine for me.

Are you sure the video filename you get is correct?
Can you try to put this file in your public folder: https://github.com/jrm2k6/cloudder-l5-sample-project/blob/master/public/rabbit.mp4

And then run this code:
[code]

[2019-03-03 16:48] jrm2k6 commented on #66
The easiest way is probably to do this:

[code]

Or you can also keep track of the version returned after upload and pass it as part of your options array when calling secureShow:

[code]

[2019-03-03 22:34] andrewaliela commented on #67
Hi @jrm2k6 and thank you for the above response.
I'm going to attempt this and then share the results.

[2019-03-04 04:04] andrewaliela commented on #67
Hey @jrm2k6 thank you so much for the assistance, it worked.

Here is my final code:

        $videoresume = new VideoResume;
        $videoresume->user_id = Auth::user()->id;
        $videoresume->video_title = $request->input('video_title');
        $videoresume->video_description = $request->input('video_description');

        $video_url = $request->file('video_url')->getRealPath();
        Cl

[2019-03-04 04:04] #67 closed

[2019-03-07 15:44] jrm2k6 commented on #64
What version of Laravel and cloudder are you running?
Where is $filename coming from? Could you paste some more code?

[2019-04-09 21:16] jrm2k6 commented on #66
@alvintheodora Any updates? I will close for now.

[2019-04-09 21:16] #66 closed

[2019-05-17 07:06] darkshadowlho opened #69 "Get Public Id from URL"
Hi, I want a function that get an image public id of url image that I has uploaded to cloudinary.

I uploaded  many image manually, not from laravel. There are many of image that I uploaded, cause I don't know how to store it to database, so I just store the url of the image uploaded in a column, but now I want to make function that can delete the image from application I make.

I read the functio

[2019-05-20 01:17] jrm2k6 commented on #69
Hi @darkshadowlho

If your url is of the form https://res.cloudinary.com/jdcloudder/image/upload/v1558314941/smokach3k4nlq16njthl.jpg the public id will be `smokach3k4nlq16njthl` in that case.

So a simple regex or multiple `explode` calls should be enough to give you the public ids of your uploaded pictures.

[2019-05-20 03:08] darkshadowlho commented on #69
Thank you very much

[2019-05-20 03:08] #69 closed

[2019-05-20 13:44] jrm2k6 commented on #65
Hi,
You could just do `Cloudder::upload($this->PICTURE_NAME)->getResult();`

[2019-05-20 13:44] #52 closed

[2019-05-20 13:44] #54 closed

[2019-05-20 13:44] #58 closed

[2019-05-20 13:44] #64 closed

[2019-06-02 21:26] #65 closed

[2019-06-03 21:29] mykelcodex commented on #11
Hi, i tried uploading a video, but it just wouldn't upload...image uploaded perfectly, any help will be appreciated

[2019-08-24 19:05] #11 closed

[2019-08-24 19:05] #50 closed

[2019-11-09 22:26] smouki commented on #64
hey I'm getting that kind of error while uploading videos.. images are fine. did you solve the problem?
its when using the cloudinary WP plugin via Media Library.

[2019-11-20 00:31] odutolaabisoye opened #70 "Unable to upload epub file"
It returned an error saying Unsupported zip file

[2019-12-11 10:50] jnorvor opened #71 "Resize private image"
HI,

I am trying to resize a private image I have tried:

showPrivateUrl($resource_link, 'png', array("attachment"=>true, "transformation" => array("width" => 400, "crop" => "pad")));
showPrivateUrl($resource_link, 'png', array("transformation" => array("width" => 400, "crop" => "pad", flags => "attachment")));
showPrivateUrl($resource_link, 'png', array("width" => 400, "crop" => "pad", flags => "

[2019-12-13 20:54] jrm2k6 commented on #71
Hi,
Sorry I missed that notification. I will take a look during the weekend.

[2019-12-13 20:55] jrm2k6 commented on #70
@odutolaabisoye Could you paste the code you have tried?
Sorry for the delay.

[2020-02-11 00:51] Nyariki opened #72 "Add feature to generate signature"
For use in api clients doing secure uploads

[2020-03-03 06:16] ranuarga opened #73 "use_filename not working"
Hi, I am trying to upload image with option use_filename = TRUE, but it is not working, probably because of the public_id option set to NULL so it use random string as public_id instead of the filename. Thank you

[2020-03-03 06:24] #73 closed

[2020-03-05 09:13] ojha007 opened #74 "cannot delete pdf,excel file"
unable to delete the pdf  or excel file but  images can be deleted

[2020-03-12 09:25] PhPotier commented on #74
I have the same problem with video or audio file. But with image, it's work perfectly

[2020-03-12 11:01] PhPotier commented on #74
Maybe you have to add
`$options = [
'resource_type' = raw
];`  ?
For my problem it was the solution (audio are a ressource type video)

[2020-03-15 11:56] rambii opened #75 "Chunked upload for large files"
I was looking into uploading larger files with this package. Cloudinary has a different method for those upload.
https://cloudinary.com/documentation/upload_videos#chunked_video_upload

The simplest solution I guess would be to change the method call to upload_large here:
https://github.com/jrm2k6/cloudder/blob/a69d49fc483bc45d58db4f3ca23d6e54f944b98e/src/JD/Cloudder/CloudinaryWrapper.php#L122

As

[2020-04-07 18:28] Mifayo commented on #74
@PhPotier hello bro,
it works for me i just added
`$options = [ 'resource_type' => 'video ];`

[2020-04-11 00:07] Duvy2 opened #76 "Laravel Queue not working"
Hey there,

if I upload a picture to a signed preset, it works.
I tried to offload the uploading, from the user response.
As soon I move the upload to a Queue job, it gives "Upload preset must be whitelisted for unsigned uploads" error.
I checked, the env file is beeing loaded for the queue too, but for some reason it's not working.

Any has some idea?

[2020-04-11 18:17] Duvy2 commented on #76
The path I used, was relative, with absolute full path, it's working, instead of the "Upload preset must be whitelisted for unsigned uploads", it could check first if the file is accessable or not.

[2020-04-11 18:17] #76 closed

[2020-06-02 23:15] X-mac opened #77 "upload url & original size"
Hi there, I'm using cloudder in my laravel project. I can upload the images on cloudinary.
I use
  Cloudder::upload($image, $isbn,  array('folder'=>'books');

The file uploaded have png exstension, the original extesion is jpg, and the size is not the original size. ie the url is different:
http://res.cloudinary.com/xxxxx/image/upload/c_fit,h_150,w_150/v1/books/9788807033438.png

there is some set

[2020-06-04 16:17] dotmarn commented on #77
If you check the cloudder.php file in the config folder you will see the settings there as seen here
`    'scaling'    => [
        'format' => 'png',
        'width'  => 150,
        'height' => 150,
        'crop'   => 'fit',
        'effect' => null
    ],`

[2020-06-06 14:42] jrm2k6 commented on #77
@X-mac what @dotmarn said is correct! Thanks @dotmarn
Let me know if it works for you @X-mac and I will close this issue.

[2020-06-06 14:45] jrm2k6 commented on #75
Hi @rambii
Sorry for the long delay!
I think having a separate method to accommodate large uploads would make sense!
Feel free to open a PR if it is still needed.

[2020-06-06 14:45] #74 closed

[2020-06-08 06:02] X-mac commented on #77
thanks dotmarn, I founded the seetings, and change.

[2020-06-08 06:02] #77 closed

[2020-07-07 02:20] refojunior opened #79 "How to display all media library from cloudinary"
Hi, can you help me how to show entire media library like this from laravel application?

![image](https://user-images.githubusercontent.com/30499443/86691081-166bfa00-c03b-11ea-953f-cdda1ea764f5.png)

so we display all the media, can cloudder do something like that?
Thank you in advance..

[2020-07-07 02:39] jrm2k6 commented on #79
You can definitely use this wrapper to fetch the data from cloudinary.
Where do you store the path to the assets?
What have you tried so far?

[2020-07-07 02:46] silverhand7 commented on #79
Sorry I'm new here, I don't see on this documentation to show the media entirely.
I already tried using `curl https://<API_KEY>:<API_SECRET>@api.cloudinary.com/v1_1/<CLOUD_NAME>/resources/image` but only shown 10 media maximum

[2020-07-07 03:57] silverhand7 commented on #79
I also tried
![image](https://user-images.githubusercontent.com/30499443/86705893-e75c8500-c048-11ea-8d40-ee96a7313c18.png)
the output
![image](https://user-images.githubusercontent.com/30499443/86705958-fa6f5500-c048-11ea-9c1a-dbb567e94d3e.png)

[2020-07-08 01:21] silverhand7 commented on #79
it's fixed by adding
[code]
or
[code]

[2020-07-08 01:21] #79 closed

[2021-02-01 10:39] pixel-penguin opened #80 "Class Cloudinary not found"
It seems since a new update from cloudinary_php, it can't find the Cloudinary Class.

[2021-02-01 14:26] pixel-penguin commented on #80
For anyone else experiencing the issue, downgrade cloudinary_php by doing

composer require cloudinary/cloudinary_php:1.20

[2021-02-01 15:56] jrm2k6 commented on #80
Hi @pixel-penguin
You could probably pin Cloudinary in here https://github.com/jrm2k6/cloudder/blob/master/composer.json#L16 to only accept 1.1.0 up to 1.2.0 not included. Maybe by doing 1.1.*.
Feel free to open a PR and I can take a look.

[2021-02-01 17:53] pixel-penguin commented on #80
I created a pull request that should work. I changed the version to ^1.1. Which basically means it will get the highest version 1. I tested it on my local server and it seems to be working well.

As soon as I use the earliest v2, the error occurs.